.goal-center{
    max-width: 960px;
    min-width: 270px;
    margin: auto;
    //padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    mat-card{
        box-sizing: border-box;
    }
}

.goal-center mat-card{
    margin: 10px;
    // we need it, as when we use BorderBox - it doesn't consider margin
    // that's why we need to make width calculated
    width: calc(100% - 20px); 
}

.goal-container{
    position: relative;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.goal-card{
    width: calc(100% - 10px); 
    box-sizing: border-box;
}

.header-button-container{
    text-align: center;
}