<div class="title-header my-card">
    <div class="title-page-container" translate>
        Цели
    </div>
</div>

<div class="goal-center">
    <mat-card>
        <p-button label="Добавить Новую" class="navigate-btn" icon="pi pi-add" iconPos="right"></p-button>
        <button mat-raised-button class="navigate-btn" (click)="goToGoalDetails('0')">Добавить Новую</button>

        <p-accordion [multiple]="true">
            <p-accordionTab header="Текущие">
                <div  class="goal-container">
                    <goal-card class="goal-card" 
                        *ngFor="let curGoal of goals | async" 
                        (goToCardEvent)="goToGoalDetails(curGoal._id)"
                        [goal]="curGoal"></goal-card> 
                </div>
            </p-accordionTab>
            <p-accordionTab header="Завершенные">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis corporis perferendis molestiae, quidem debitis fuga nisi corrupti doloribus dolorem suscipit, quo, optio illo nesciunt voluptas accusantium ea perspiciatis beatae reiciendis!
                Eligendi impedit eum quos quod aliquam aspernatur fuga, dolores blanditiis eaque sed saepe ratione omnis debitis ut iste! Repellat sed explicabo sequi laborum quo, incidunt debitis labore eius fugiat assumenda!
                Dolores error veritatis assumenda qui? Necessitatibus exercitationem inventore sit quaerat cumque quo at et incidunt. Molestias, mollitia ab earum placeat provident nemo vitae facilis explicabo ducimus amet in aliquid nostrum?
                Odit ipsam veritatis obcaecati recusandae dicta cumque. Iste accusantium eaque fugiat laborum nobis corrupti molestias quis commodi blanditiis! Quaerat nam natus odio atque vitae dignissimos iste tempora eum voluptatibus porro.
                Saepe, laboriosam maiores dicta qui debitis id et perspiciatis at, tempore placeat ea quasi vero corporis praesentium ipsa porro itaque temporibus accusantium est adipisci possimus nisi culpa recusandae. Autem, dolorem.
            </p-accordionTab>
            <p-accordionTab header="Проваленные">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam vel earum sequi molestiae quasi quae tempora asperiores, sed laboriosam. Sint tenetur aspernatur accusamus adipisci quae soluta repellendus repudiandae officia quos!
                Neque laboriosam quidem rerum, quod nam impedit nihil maiores velit qui illo voluptatibus repudiandae? Repellat vel distinctio quis quam officia excepturi qui veniam sed consequuntur, tenetur laborum beatae, earum possimus?
                Aut quas odio ad consectetur nobis maiores temporibus, placeat cum aliquid, quidem eum corporis itaque maxime. Doloremque dolore blanditiis placeat, et necessitatibus quod qui obcaecati aspernatur. Minima error unde suscipit.
                Numquam tenetur sit ad nulla, explicabo quos voluptas totam nostrum quasi minus dolorem optio incidunt obcaecati. Itaque, iure non ex veniam reiciendis maiores sit at sed, molestias voluptatum harum inventore.
                Accusantium soluta quos ut nisi aliquam qui laborum doloribus facilis eos fuga tenetur porro quaerat architecto in suscipit dicta et nihil neque, quam doloremque numquam magnam ab? Rem, quibusdam aliquid!
                Eius labore repellendus harum rerum at tempora velit odio sunt deleniti. Doloribus, dolor necessitatibus, eaque accusamus numquam laborum molestiae ducimus eos laudantium velit aperiam corrupti vitae dicta ad similique est.
                Odio illum aliquam dolorum ad repellendus deserunt adipisci aspernatur deleniti dolore iure voluptas suscipit modi laudantium maxime cupiditate alias cum repudiandae, nihil vitae officia commodi neque accusamus libero reprehenderit? Praesentium?  
            </p-accordionTab>
        </p-accordion>
    </mat-card>
</div>