.goal-center{
    max-width: 960px;
    min-width: 270px;
    margin: auto;
    //padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.goal-center .mat-card{
    margin: 10px;
    //padding: 10px;
}

.goal-container{
    display: flex;
    flex-wrap: wrap;
}

.goal-card{
    width: 50%;
}