<div class="title-header my-card">
    <div class="title-page-container" translate>
        Цели
    </div>
</div>

<div class="goal-center">
    <mat-card>
        <!-- <p-button label="Добавить Новую" class="navigate-btn" icon="pi pi-add" iconPos="right"></p-button> -->
        <button mat-raised-button class="navigate-btn" (click)="goToGoalDetails('0')">Добавить Новую</button>

        <p-accordion [multiple]="true">
            <p-accordionTab header="Текущие" [selected]="true">
                <div  class="goal-container">
                    <goal-card class="goal-card" 
                        *ngFor="let curGoal of goals | async" 
                        [goal]="curGoal">                        
                        <button mat-raised-button class="navigate-btn float-right" (click)="goToGoalDetails(curGoal._id)">Детали</button>
                    </goal-card> 
                </div>
            </p-accordionTab>
            <p-accordionTab header="Завершенные">
                <div  class="goal-container">
                    <goal-card class="goal-card" 
                        *ngFor="let curGoal of goalsFinished | async" 
                        [goal]="curGoal">                        
                        <button mat-raised-button class="navigate-btn float-right" (click)="goToGoalDetails(curGoal._id)">Детали</button>
                    </goal-card> 
                </div>
            </p-accordionTab>
            <p-accordionTab header="Проваленные">
                <div  class="goal-container">
                    <goal-card class="goal-card" 
                        *ngFor="let curGoal of goalsFailed | async" 
                        [goal]="curGoal">                        
                        <button mat-raised-button class="navigate-btn float-right" (click)="goToGoalDetails(curGoal._id)">Детали</button>
                    </goal-card> 
                </div> 
            </p-accordionTab>
            <p-accordionTab header="Удаленные">
                <div  class="goal-container">
                    <goal-card class="goal-card" 
                        *ngFor="let curGoal of goalsDeleted | async" 
                        [goal]="curGoal">                        
                        <button mat-raised-button class="navigate-btn float-right" (click)="goToGoalDetails(curGoal._id)">Детали</button>
                    </goal-card> 
                </div>
            </p-accordionTab>
        </p-accordion>
    </mat-card>
</div>