
.brick-type-page-container{
    max-width: 700px;
    margin: 10px auto;
}


mat-form-field{
    width: 100%;
}
mat-radio-button{
    padding-right: 10px;
}


.brick-details-page {
    margin: 10px;
    form{
        margin: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        mat-form-field { 
            width: 60%;
            margin: 0 10px;
        }
        .button-footer{
            width: 60%;
            display: flex;
            justify-content: space-between;
        }
    }
}