<div class="brick-type-cards">

    <div class="nav-container">
        <!-- <mat-checkbox [(ngModel)]="isSortBrickType" (change)="sort()">Сортировать</mat-checkbox>
        <mat-checkbox [(ngModel)]="isRemovedShown" (change)="showRemoved()">Показать удаленные</mat-checkbox> -->
        <mat-checkbox [(ngModel)]="isSortBrickType" >Сортировать</mat-checkbox>
        <mat-checkbox [(ngModel)]="isRemovedShown" >Показать удаленные</mat-checkbox>
        
        <button mat-raised-button class="navigate-btn float-right" (click)="openBrickModal(null)">Добавить Новую</button>
    </div>
    <!-- <div (click)="updateSkippedDaysForPeriod()">RECOUNT SKIPP DAYS</div> -->
    <!-- LIST of BRICK TYPE-->
    <div class="brick-type-card"
        *ngFor="let brickType of filterBrickType() | async"
        (click)="openBrickModal(brickType)">   

        <div class="brick-type-container" 
            *ngIf="brickType._id"
            [ngStyle]="{'background-color': brickType.category.color}">
            <!-- BrickType Name  -->
            <div class="card-brick-type-name text-shadow">
                {{brickType.name}}
                <!-- Category name -->
                <div class="card-category-name text-shadow">
                    {{brickType.category.name}}
                </div>
                <!-- <div *ngIf="brickType.status == 2">
                    статус хотел сделать в виде иконки
                    (Удалена)
                </div> -->
            </div>

            

            <!-- Sign -->
            <div class="card-brick-type-icon text-shadow">
                <mat-icon *ngIf="brickType.isIcon">{{brickType.sign}} </mat-icon>
                <div *ngIf="!brickType.isIcon">{{brickType.sign}}</div> 
            </div>

            <!-- Details -->
            <div class="card-brick-type-details ">
                <div>
                    <span class="text-shadow brick-type-type"
                        [ngClass]="{'brick-in-calendar': brickType && brickType.type && brickType.type == 1, 'brick-in-calendar-arrow': brickType && brickType.type && brickType.type == 2}">      
                        <div class="brick-type-counts">                 
                            <div class="marked-days">
                                {{brickType && brickType.type && brickType.type == 2 ? (brickType.countMarked + '/' + brickType.neededDays) : (brickType.countMarked)}}
                            </div>         
                            <div class="skipped-days">
                                {{brickType && brickType.type && brickType.type == 2 ? (brickType.skippedDays + '/' + brickType.allowedSkipDays) : ''}}
                            </div>
                        </div> 
                    </span>
                </div>
                <div class="status-on-card text-shadow hard-box-shadow" [ngClass]="{'active-status': brickType.status == 1, 'closed-status': brickType.status == 2, 'successed-status': brickType.status == 3, 'failed-status': brickType.status == 4 }">
                    <div *ngIf="brickType.status == 1" class="active-status">Active</div>
                    <div *ngIf="brickType.status == 2" class="closed-status">Closed</div>
                    <div *ngIf="brickType.status == 3" class="successed-status">Win</div>
                    <div *ngIf="brickType.status == 4" class="failed-status">Failed</div>
                </div>
                <div>
                    <span class="text-shadow brick-type-type"
                        [ngClass]="{'brick-in-calendar': brickType && brickType.type && brickType.type == 1, 'brick-in-calendar-arrow': brickType && brickType.type && brickType.type == 2}">
                        {{ brickType && brickType.type && brickType.type == 1 ? 'PER' : 'LIM'}}
                    </span>
                </div>
            </div>

            <div class="card-brick-type-desc" >
                {{brickType.ruleDescription}}
            </div>
        </div>

        <div class="brick-type-container"
            *ngIf="!brickType._id">
            <div class="back-new-card">
                +
            </div>
        </div>

        <div class="show-details text-shadow">
            <div *ngIf="brickType._id">ПОКАЗАТЬ ДЕТАЛИ</div>
            <div *ngIf="!brickType._id">ДОБАВИТЬ НОВУЮ</div>
        </div>
    </div>  

</div> 