
.header-menu{
    position: fixed;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    background-color: rgba(47, 47, 47, 0.827);
    padding: 10px;
    box-sizing: border-box;
    button, locale-change{
        font-size: 16px;
    }
    .logo{
        font-size: 16px;
    }
}

.menu, .nav-menu{
    display: none;
}

.left-area-menu{
    display: flex;
}

@media screen and(max-width: 900px){
    .menu, .nav-menu{
        display: block;
    }
    .nav-button{
        display: none;
    }
}