<div class="header-menu">
    <div class="left-area-menu">
        <button mat-button routerLink="/home" class="logo">
            <mat-icon>home</mat-icon>
            <span class="logo nav-button" >Make my mind</span>
        </button>
        <div class="icon-menu">
            <button mat-button [matMenuTriggerFor]="navButtons" *ngIf="authService.CurrentUser" class="menu">
                <mat-icon>menu</mat-icon>
            </button>

            <mat-menu #navButtons="matMenu" class="nav-menu">
                <button mat-menu-item routerLink="/wall" *ngIf="authService.CurrentUser">{{'Wall' | translate}}</button>
                <button mat-menu-item routerLink="/category" *ngIf="authService.CurrentUser">{{'Category' | translate}}</button>
                <button mat-menu-item routerLink="/brickTypeCards" *ngIf="authService.CurrentUser">{{'Habits' | translate}}</button>
                <button mat-menu-item routerLink="/frends" *ngIf="authService.CurrentUser">{{'Друзья' | translate}}</button>
                <button mat-menu-item routerLink="/goals" *ngIf="authService.CurrentUser">{{'Цели' | translate}}</button>                

                <!-- <button mat-menu-item [matMenuTriggerFor]="userinfo" *ngIf="authService.CurrentUser">{{authService.CurrentUser.username}}</button> -->
                <button mat-button class="nav-button" routerLink="/user-details" *ngIf="authService.CurrentUser">{{authService.CurrentUser.nickname}}</button>  
            </mat-menu>

            <button mat-button class="nav-button" routerLink="/wall" *ngIf="authService.CurrentUser">{{'Wall' | translate}}</button>
            <button mat-button class="nav-button" routerLink="/category" *ngIf="authService.CurrentUser">{{'Category' | translate}}</button>
            <button mat-button class="nav-button" routerLink="/brickTypeCards" *ngIf="authService.CurrentUser">{{'Habits' | translate}}</button>
            <button mat-button class="nav-button" routerLink="/frends" *ngIf="authService.CurrentUser">{{'Друзья' | translate}}</button>
            <button mat-button class="nav-button" routerLink="/goals" *ngIf="authService.CurrentUser">{{'Цели' | translate}}</button>            
        </div>
    </div>

    <div class="rigth-area-menu">

        <!-- <button mat-button [matMenuTriggerFor]="userinfo" *ngIf="authService.CurrentUser">{{authService.CurrentUser.username}}</button>
        <mat-menu #userinfo="matMenu">
            <button mat-menu-item *ngIf="authService.CurrentUser">{{authService.CurrentUser.nickname}}</button>
            <button mat-menu-item *ngIf="authService.CurrentUser">{{authService.CurrentUser.created | dateru:'MMMM YYYY' | capitalize }}</button>
        </mat-menu> -->
        <!-- <user-info class="nav-button"></user-info> -->

        <button mat-button class="nav-button" routerLink="/user-details" *ngIf="authService.CurrentUser">{{authService.CurrentUser.nickname}}</button>  
        <locale-change></locale-change>

        <loging></loging>

    </div>
</div>

<!-- 
<mat-menu #userinfo="matMenu">
    <button mat-menu-item *ngIf="authService.CurrentUser">{{authService.CurrentUser.nickname}}</button>
    <button mat-menu-item *ngIf="authService.CurrentUser">{{authService.CurrentUser.created | dateru:'MMMM YYYY' | capitalize }}</button>
</mat-menu> -->