<div class="auth-container">
    <mat-card class="auth-form">
        <form [formGroup]='loginForm' (submit)="login()">

            
            <div class="title-page-container" translate>
                SignIn
            </div>            

            <span *ngIf="warningMessage" class="warn-span">{{'Warnings.WrongEmailOrPassword' | translate}}</span>

            <mat-form-field>
                <input required placeholder="{{'Email' | translate}}" matInput formControlName="username">
            </mat-form-field>

            <mat-form-field>
                <input required type="password" placeholder="{{'Password' | translate}}" matInput formControlName="password">
            </mat-form-field>

            <div class="button-footer">
                <button color="primary" mat-raised-button [disabled]="loginForm.invalid" translate>
                        {{'Log in' | translate}} 
                </button>

                <a class="auth-link" routerLink="/registration" translate>Registration</a>
            </div>
        </form>

    </mat-card>
</div>