
<mat-card class="frend-list">
    <div class="title-container" translate>
        Frend.FrendList
    </div>
    
    <table class="frend-grid">
        <tr *ngFor="let frend of frendList">
            <td>
                <!-- request -->
                <!-- record_voice_over -->
                <!-- <mat-icon class="yellow-icon" 
                    *ngIf="frend.statusId == 1"
                    matTooltip="Запрос в друзья" matTooltipPosition="left">
                    accessibility_new
                </mat-icon> -->

                <!-- deleted -->
                <!-- <mat-icon class="red-icon" 
                    *ngIf="frend.statusId == 5"
                    matTooltip="Удален из друзей" matTooltipPosition="left">
                    highlight_off
                </mat-icon> -->

                <!-- approved -->
                <!-- <mat-icon class="gren-icon" 
                    *ngIf="frend.statusId == 3"
                    matTooltip="В друзьях" matTooltipPosition="left">
                    account_circle
                </mat-icon> -->

                <!-- rejected -->
                <!-- <mat-icon class="plum-icon" 
                    *ngIf="frend.statusId == 2"
                    matTooltip="Запрос отклонен" matTooltipPosition="left">
                    sentiment_very_dissatisfied
                </mat-icon> -->
            </td>
            <td> 
                <a class="link-button" routerLink="/wall/{{frend.frendNickname}}" translate>
                    {{frend.frendNickname + ' (' + frend.frendUsername + ')'}} 
                </a>
            </td>
            <td>            
                <div>
                    <a class="link-button" 
                        *ngIf="frend.statusId == 1 && !frend.requestForYou"
                        (click)="cancelFrend(frend)">
                        Отменить
                    </a>
                    <a class="link-button" 
                        *ngIf="frend.statusId == 3"
                        (click)="deleteFrend(frend)">
                        Удалить
                    </a>
                    <a class="link-button"  
                        *ngIf="frend.statusId == 1 && frend.requestForYou"
                        (click)="rejectFrend(frend)">
                        Отклонить
                    </a>
                    <a class="link-button"  
                        *ngIf="frend.statusId == 1 && frend.requestForYou"
                        (click)="addFrend(frend)">
                        Принять
                    </a>
                    <a class="link-button" 
                        *ngIf="(frend.statusId == 2 && frend.requestForYou) || frend.statusId == 5"
                        (click)="addFrend(frend)">
                        Добавить
                    </a>
                </div>
            </td>
        </tr>
    </table>
</mat-card>