
<mat-card class="frend-list">
    <div class="title-container" translate>
        Frend.FrendList
    </div>
    
    <table class="frend-grid">
        <tr *ngFor="let frend of frendList">
            <td>
                <!-- request -->
                <!-- record_voice_over -->
                <mat-icon class="yellow-icon" 
                    *ngIf="frend.statusId == 1"
                    matTooltip="Запрос в друзья" matTooltipPosition="left">
                    accessibility_new
                </mat-icon>

                <!-- deleted -->
                <mat-icon class="red-icon" 
                    *ngIf="frend.statusId == 5"
                    matTooltip="Удален из друзей" matTooltipPosition="left">
                    highlight_off
                </mat-icon>

                <!-- approved -->
                <mat-icon class="gren-icon" 
                    *ngIf="frend.statusId == 3"
                    matTooltip="В друзьях" matTooltipPosition="left">
                    account_circle
                </mat-icon>

                <!-- rejected -->
                <mat-icon class="plum-icon" 
                    *ngIf="frend.statusId == 2"
                    matTooltip="Запрос отклонен" matTooltipPosition="left">
                    sentiment_very_dissatisfied
                </mat-icon>
            </td>
            <td> 
                <a class="link-button" routerLink="/wall/{{frend.frendNickname}}" translate>
                    {{frend.frendNickname + ' (' + frend.frendUsername + ')'}} 
                </a>
            </td>
            <td>            
                <div>
                    <a class="link-button" 
                        *ngIf="frend.statusId == 1 && !frend.requestForYou"
                        (click)="cancelFrend(frend)">
                        Отменить
                    </a>
                    <a class="link-button" 
                        *ngIf="frend.statusId == 3"
                        (click)="deleteFrend(frend)">
                        Удалить
                    </a>
                    <a class="link-button"  
                        *ngIf="frend.statusId == 1 && frend.requestForYou"
                        (click)="rejectFrend(frend)">
                        Отклонить
                    </a>
                    <a class="link-button"  
                        *ngIf="frend.statusId == 1 && frend.requestForYou"
                        (click)="addFrend(frend)">
                        Принять
                    </a>
                    <a class="link-button" 
                        *ngIf="(frend.statusId == 2 && frend.requestForYou) || frend.statusId == 5"
                        (click)="addFrend(frend)">
                        Добавить
                    </a>
                </div>
            </td>
        </tr>
    </table>

    <p-table [value]="frendList">
        <ng-template pTemplate="header">
            <tr>
                <th>_id</th>
                <th>frendNickname</th>
                <th>frendUsername</th>
                <th>statusId</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-frend>
            <tr>
                <td>{{frend._id}}</td>
                <td>{{frend.frendNickname}}</td>
                <td>{{frend.frendUsername}}</td>
                <td>{{frend.statusId}}</td>
            </tr>
        </ng-template>
    </p-table>

    <p-orderList [value]="cars">
        <ng-template let-car pTemplate="item">
            <div class="ui-helper-clearfix">
                <img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="display:inline-block;margin:2px 0 2px 2px" width="48">
                <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{car.brand}} - {{car.year}} - {{car.color}}</div>
            </div>
        </ng-template>
    </p-orderList>

    <p-panel>
        <p-header>
                <p-button label="Click" icon="pi pi-check" iconPos="left"></p-button>
        </p-header>
    </p-panel>


</mat-card>