

<div class="title-header my-card">
    <div class="title-page-container">
        ШАГ 1: Определи свои категории
    </div>
</div> 

<div class="category-center">
    
            
    <div class="category-manage">
        
        <mat-card class="category-details">   
            <div class="title-container">
                Создай категорию
            </div>
            <category-details [category]="selectedCategory"
                                (createCategoryEvent)="onCreateCategory($event)"
                                (deleteCategoryEvent)="onDeleteCategory($event)"
                                (updateCategoryEvent)="onUpdateCategory($event)"></category-details>
           
        </mat-card>

        <mat-card class="category-list">  
            <div class="title-container">
                Твой список категорий
            </div>
            <category-list [categories]="existentCategories"
                            (selectCategoryEvent)="onSelectCategory($event)"></category-list>
        </mat-card>

    </div>

    <div class="category-summary">
        <mat-card class="">
           <div class="category-about">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem laboriosam rerum est, dolorum, quasi error laudantium, perspiciatis beatae eveniet temporibus atque saepe aliquam consequuntur similique et repellendus 
               deserunt voluptatibus. 
            </div>
           <div class="category-example">
               <div class="category-name">Семья</div>
               <div class="category-description">Lorem ipsum animndae expedita molestias cumque consequatur, qui nihil aliquid nemo pers.</div>
           </div>
           <div class="category-example">
               <div class="category-name">Здоровье</div>
               <div class="category-description">Repellendus ds, doloque facilis sit magni quos rerum dignissimos nihil inciquibusdam corrupti rerum, dicta facere id sunt ad.</div>
           </div>
           <div class="category-example">
               <div class="category-name">Спорт</div>
               <div class="category-description">Dicta, in ducimus, peorum quo mollo reprehenderitmaiores recusandae quod. Quam quod autem voluptas neque id veniam vitae iusto?</div>
           </div>
           <div class="category-example">
               <div class="category-name">Работа</div>
               <div class="category-description">Labomos sit omnis non obcaecati. Dolorum iusto rerum qui possimus nulla sunt commodi porro fugit, quos, laborum optio?</div>
           </div>
           <div class="category-example">
               <div class="category-name">Друзья</div>
               <div class="category-description">Facerevoluptate laudantium asperiores aamet omnis rem totam doloribus quibusdam repudiandae nisi cumque voluptate quia ipsum, quod voluptatibus.</div>
           </div>
           <div class="category-example">
               <div class="category-name">Хобби</div>
               <div class="category-description">Dolorem facere quidem nematione, consectetur ipsam dillam repellat?</div>
           </div>
        </mat-card>
    </div>

</div>