<div class="wall-side-nav" 
    [ngClass]="{ 'side-bar-expanded': sideBarExpanded }">

    <div class="side-bar-title" 
        (click)="toogleSideBar()">

        <span *ngIf="!sideBarExpanded" class="arrow-spin"><mat-icon>keyboard_arrow_left</mat-icon></span> 
        <span *ngIf="sideBarExpanded" class="arrow-spin"><mat-icon>keyboard_arrow_right</mat-icon></span> 
    
        <div *ngIf="sideBarExpanded" class="side-bar-title-text">
            <div class="title-container">Карта {{nickName}}</div>
        </div>
    </div>

    <div *ngIf="sideBarExpanded">
        <div class="side-bar-body" >
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Сферы влияния
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                        Type your name and age
                    </mat-panel-description> -->
                </mat-expansion-panel-header>
            
                <ul>
                    <li>Readin</li>
                    <li>Gym</li>
                    <li>Health</li>
                    <li>Family</li>
                    <li>Wife</li>
                    <li>Proper mill</li>
                    <li>Swit</li>
                </ul>
                <!-- <mat-form-field>
                    <input matInput placeholder="First name">
                </mat-form-field>
            
                <mat-form-field>
                    <input matInput placeholder="Age">
                </mat-form-field> -->
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Привычки
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="side-bar-list">
                    <li *ngFor="let brickType of visibleBrickTypes">
                        <mat-checkbox 
                            class="checkbox-content"
                            [(ngModel)]="brickType.ticked"
                            (change)="tickHabbit(brickType)">
                                <span class="checkbox-span">{{brickType.name}}</span>
                                <span class="brick-in-calendar text-shadow float-right brick-in-sidebar" 
                                    [ngStyle]="{'background-color': brickType.category.color}">
                                    <!-- {{brickType.sign}} -->
                                    <mat-icon *ngIf="brickType.isIcon"  
                                                class="brickIcon">
                                        {{brickType.sign}} 
                                    </mat-icon>
                                    <div *ngIf="!brickType.isIcon">{{brickType.sign}}</div> 
                                </span>
                        </mat-checkbox>
                    </li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Друзья
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                        Currently I am {{panelOpenState ? 'open' : 'closed'}}
                    </mat-panel-description> -->
                </mat-expansion-panel-header>
                <ul>
                    <li *ngFor="let frend of userFrends">
                        <a [routerLink]="['/wall', frend.frendNickname]">{{frend.frendNickname}}</a>
                    </li>
                </ul>
            </mat-expansion-panel>
        
            <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Логи
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                        Currently I am {{panelOpenState ? 'open' : 'closed'}}
                    </mat-panel-description> -->
                </mat-expansion-panel-header>
                <ul>
                    <li>Лог 1</li>
                    <li>Лог 2</li>
                    <li>Лог 3</li>
                    <li>Лог 4</li>
                    <li>Лог 5</li>
                </ul>
            </mat-expansion-panel>
        </div>
    </div>
</div>
