<div class="title-container">
    Твои действия - {{data.curBrick.date | date:'dd.MM.yyyy'}}
</div>

<form [formGroup]="brickDetailsForm" class="brick-modal-form" >

    <mat-form-field>
            <!-- <input type="text" placeholder="Привычка" 
                    matInput [formControl]="brickTypeFC" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
                <mat-option *ngFor="let brickType of existentBrickTypes" [value]="brickType">
                    <div class="color-list-option">
                        <span class="text-shadow brick-in-option" 
                            [ngClass]="{'brick-in-calendar': !brickType.type || brickType.type == 1, 'brick-in-calendar-arrow': brickType.type == 2}"
                            [ngStyle]="{'background-color': brickType.category.color}">
                            <mat-icon *ngIf="brickType.isIcon "  
                                        class="brickIcon">
                                {{brickType.sign}} 
                            </mat-icon>
                            <div *ngIf="!brickType.isIcon">{{brickType.sign}}</div> 
                        </span>
                        <div>{{ brickType.name }}</div>
                    </div>
                </mat-option>
            </mat-autocomplete> -->

        <!-- <mat-select placeholder="Привычка" 
                matInput required formControlName="brickType">
            <mat-option *ngFor="let brickType of existentBrickTypes"
                        [value]="brickType._id" >
                <div class="color-list-option">
                    <span class="brick-in-calendar text-shadow brick-in-option" 
                        [ngStyle]="{'background-color': brickType.category.color}">
                        <mat-icon *ngIf="brickType.isIcon "  
                                    class="brickIcon">
                            {{brickType.sign}} 
                        </mat-icon>
                        <div *ngIf="!brickType.isIcon">{{brickType.sign}}</div> 
                    </span>
                    <div>{{ brickType.name }}</div>
                </div>
            </mat-option>
        </mat-select> -->

        
            <mat-select placeholder="Привычка" formControlName="brickType">
                <mat-select-trigger *ngIf="brickDetailsForm.value.brickType">   
                    <div class="bricks-container" >
                        <span class="text-shadow"
                            [ngClass]="{'brick-in-calendar': !brickDetailsForm.value.brickType.type || brickDetailsForm.value.brickType.type == 1, 'brick-in-calendar-arrow': brickDetailsForm.value.brickType.type == 2}"
                            [ngStyle]="{'background-color': brickDetailsForm.value.brickType.category.color}">
                            <mat-icon *ngIf="brickDetailsForm.value.brickType.isIcon "  
                                        class="brickIcon">
                                {{brickDetailsForm.value.brickType.sign}} 
                            </mat-icon>
                            <div *ngIf="!brickDetailsForm.value.brickType.isIcon">{{brickDetailsForm.value.brickType.sign}}</div> 
                        </span>
                    </div>
                </mat-select-trigger>
                <mat-option *ngFor="let brityp of existentBrickTypes" [value]="brityp">
                    <div class="color-list-option">
                        <span class="text-shadow brick-in-option" 
                            [ngClass]="{'brick-in-calendar': !brityp.type || brityp.type == 1, 'brick-in-calendar-arrow': brityp.type == 2}"
                            [ngStyle]="{'background-color': brityp.category.color}">
                            <mat-icon *ngIf="brityp.isIcon "  
                                        class="brickIcon">
                                {{brityp.sign}} 
                            </mat-icon>
                            <div *ngIf="!brityp.isIcon">{{brityp.sign}}</div> 
                        </span>
                        <div>{{ brityp.name }}</div>
                    </div>
                </mat-option>
            </mat-select>

          
                <!-- <mat-select placeholder="Toppings" [formControl]="toppings">
                  <mat-select-trigger>
                    {{toppings.value ? toppings.value[0] : ''}}
                    <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                      (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                </mat-select> -->
          

    </mat-form-field>
  
    <mat-form-field>
        <textarea matInput placeholder="Описание" rows="5" formControlName="description"></textarea>
    </mat-form-field>

    <div class="button-container">
      <!-- <button mat-raised-button color="primary" 
              [disabled]='brickDetailsForm.invalid'
              *ngIf="!data.curBrick || !data.curBrick._id"
              (click)="createBrick()">{{'Add' | translate}}</button> -->
      <button mat-raised-button color="primary" 
              *ngIf="data.curBrick && data.curBrick._id"
              [disabled]='brickDetailsForm.invalid'
              (click)="updateBrick()">{{'Update' | translate}}</button>
      <button mat-raised-button color="warn" 
              *ngIf="data.curBrick && data.curBrick._id"
              (click)="deleteBrick()">{{'Delete' | translate}}</button>
    </div>
</form>