
  <form [formGroup]="brickTypeDetailsForm" class="brick-type-form" >
    <mat-form-field>
      <input matInput required placeholder="{{'Step2.SkillName' | translate}}" formControlName="name">
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="{{'NameCategory' | translate}}" matInput required formControlName="category">
            <mat-option *ngFor="let category of categoriesList"
                        [value]="category._id">
            <div class="color-list-option">
                <div class="small-brick-type" [ngStyle]="{'background-color':category.color}"></div>
                <div>{{ category.name }}</div>   
            </div>
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input type="sign" matInput required placeholder="{{'Step2.SkillSign' | translate}}" formControlName="sign">
    </mat-form-field>
  
    <mat-form-field>
        <textarea matInput placeholder="{{'Step2.SkillDescriptionPlaceholder' | translate}}" formControlName="ruleDescription"></textarea>
    </mat-form-field>

    
    <mat-checkbox color="primary" formControlName="isPrivate" >{{'Step2.IsPrivate' | translate}}</mat-checkbox>
   

    <div class="button-container">
      <button mat-raised-button color="primary" 
              [disabled]='brickTypeDetailsForm.invalid'
              *ngIf="!brickType"
              (click)="createBrickType()">{{'Add' | translate}}</button>
      <button mat-raised-button color="primary" 
              *ngIf="brickType && brickType._id"
              [disabled]='brickTypeDetailsForm.invalid'
              (click)="updateBrickType()">{{'Update' | translate}}</button>
      <button mat-raised-button color="warn" 
              *ngIf="brickType && brickType._id"
              (click)="deleteBrickType()">{{'Delete' | translate}}</button>
    </div>
  </form>