
<div class="main-app" *ngIf="router.url != '/home'">
    <mat-toolbar color="primary" class="toolbar-container" >
        <div class="left-area-menu">
            <button mat-button routerLink="/home" class="logo"><mat-icon>home</mat-icon>Make my mind</button>
            <button mat-button routerLink="/wall" *ngIf="authService.CurrentUser">Стена</button>
            <button mat-button routerLink="/category" *ngIf="authService.CurrentUser">Категории</button>
            <button mat-button routerLink="/brickType" *ngIf="authService.CurrentUser">Цели</button>
        </div>

        <div class="rigth-area-menu">
            <button mat-button [matMenuTriggerFor]="userinfo" *ngIf="authService.CurrentUser">{{authService.CurrentUser.username}}</button>
            <mat-menu #userinfo="matMenu">
                <button mat-menu-item>{{authService.CurrentUser.nickname}}</button>
                <button mat-menu-item>{{authService.CurrentUser.created}}</button>
            </mat-menu>

            <button mat-button (click)="logout()" *ngIf="authService.CurrentUser">Выйти</button>
            <button mat-button *ngIf="!authService.CurrentUser" routerLink="/auth">Войти</button>
        </div>
    </mat-toolbar>


    <div class="main-container animated-container">
        <router-outlet></router-outlet>
    </div>
</div>

<div class="home-app" *ngIf="router.url === '/home'">
    <router-outlet></router-outlet>
</div>