
.main-app{
    min-height: 100%;
    //background: #a2c7dd;
    background: url(../images/360302.png) repeat-y;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

// .home-app{
//     min-height: 100%;
//     //background: #a2c7dd;
//     background: url(../images/68925.jpg) repeat-y;
// }



// .home-app{
//     background: url(../images/68925.jpg) repeat-y;
//     -moz-background-size: 100%; /* Firefox 3.6+ */
//     -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
//     -o-background-size: 100%; /* Opera 9.6+ */
//     background-size: 100%; /* Современные браузеры */
// }


