<!-- //=========================leson 1================================== -->
<!-- <div class="container">
  <div class="item">1</div>
  <div class="item first">2</div>
  <div class="item">3</div>
  <div class="item">4</div>
  <div class="item fifth">5</div>
  <div class="item">6</div>
  <div class="item">7</div>
</div> -->

<!-- //=========================leson 2================================== -->
<!-- <div class="container">
  <div class="block-first">1</div>
  <div class="container-right">
    <div class="block-item">2</div>
    <div class="block-item">3</div>
  </div>
</div> -->

<!-- //=========================leson 3================================== -->

<!-- <div class="top"></div>
<div class="grid">
  <div class="grid-item">1</div>
  <div class="grid-item">2</div>
  <div class="grid-item">3</div>
  <div class="grid-item">4</div>
  <div class="grid-item">5</div>
  <div class="grid-item">6</div>
</div> -->
<!-- //=========================leson 4================================== -->
<!-- <div class="body">
  <div class="header">
    <a href="#" class="logo">Logo</a>
    <nav class="nav">
      <a href="#" class="nav-itm">nav-itm1</a>
      <a href="#" class="nav-itm">nav-itm2</a>
      <a href="#" class="nav-itm">nav-itm3</a>
    </nav>
  </div>
  <main class="main">
    <div class="fline"></div>
    <div class="sline"></div>
    <div class="grid">
      <div class="grid-itm">
        <div class="grid-img sqr"></div>
        <h1>Title</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, recusandae? Laboriosam, aspernatur. Iste laboriosam debitis fugiat aliquam similique, accusantium culpa voluptatem temporibus vel delectus tenetur non corrupti nihil impedit nostrum.</p>
      </div>
      <div class="grid-itm">
        <div class="grid-img sqr"></div>
        <h1>Title</h1>
        <p>Consectetur, impedit ad. Aspernatur eveniet magni id beatae consequuntur animi, delectus, eos alias impedit sit voluptatem possimus autem, expedita magnam quo corrupti culpa ad aliquid ab cumque officia? Perspiciatis, hic?</p>
      </div>
      <div class="grid-itm">
        <div class="grid-img sqr"></div>
        <h1>Title</h1>
        <p>Aliquid autem voluptates, vero, sapiente sunt nesciunt quam tempore est molestias quidem quos quibusdam corrupti voluptatem repudiandae magni ipsam tempora unde dolore sint. Illum deleniti commodi, laborum ut consequuntur vero.</p>
      </div>
      <div class="grid-itm">
        <div class="grid-img sqr"></div>
        <h1>Title</h1>
        <p>Perferendis sapiente vitae mollitia porro blanditiis voluptatum aut error ut saepe aperiam doloribus aspernatur quia repellat voluptas omnis est praesentium expedita ipsum unde, eligendi consequatur quis repellendus at. Enim, atque.</p>
      </div>
    </div>
  </main>
</div> -->
<!-- //=========================leson 5================================== -->
<!-- <div class="main">
  <div class="bl fl1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque error laboriosam maiores odio veniam sint ipsum. Aut porro, asperiores, autem molestiae ex nemo non voluptatibus voluptatem assumenda dolor exercitationem mollitia!</div>
  <div class="bl fl2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis tempora ut, sit reiciendis quia nulla dicta amet ex facilis cumque modi! Sit officiis illum reiciendis architecto earum ut ad quasi?</div>
  <div class="bl fl3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint asperiores fugiat qui, consectetur praesentium eligendi? Omnis tempora iure exercitationem iusto mollitia, quo atque vitae, fugit, sapiente quasi eius animi perspiciatis.</div>
  <div class="bl fl4">lorem40Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint asperiores fugiat qui, consectetur praesentium eligendi? Omnis tempora iure exercitationem iusto mollitia, quo atque vitae, fugit, sapiente quasi eius animi perspiciatis.</div>
  <div class="bl fl5">lorem50Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint asperiores fugiat qui, consectetur praesentium eligendi? Omnis tempora iure exercitationem iusto mollitia, quo atque vitae, fugit, sapiente quasi eius animi perspiciatis.</div>
  <div class="bl fl6">lorem60Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint asperiores fugiat qui, consectetur praesentium eligendi? Omnis tempora iure exercitationem iusto mollitia, quo atque vitae, fugit, sapiente quasi eius animi perspiciatis.</div>
</div> -->

<!-- //=========================leson 6================================== -->
<!-- <div class="body">
  <div class="header">
    <a href="#" class="logo">Logo</a>
    <div class="header-right">Content</div>
    <div class="header-bottom">2</div>
  </div>

  <div class="main">
    <div class="grid">
      <div class="grid-tim">
        <div class="grid-img"></div>
        <div class="grid-cont">
          <h1 class="grid-title">Title</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe vitae laudantium velit placeat odio molestias id aut laborum ea accusantium ex eum quia sed, quis cum quos non vel deleniti quisquam magnam hic tenetur modi? Minima, quod voluptates! Perspiciatis, est.</p>
        </div>
      </div>
      <div class="grid-tim">
        <div class="grid-img"></div>
        <div class="grid-cont">
          <h1 class="grid-title">Title</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe vitae laudantium velit placeat odio molestias id aut laborum ea accusantium ex eum quia sed, quis cum quos non vel deleniti quisquam magnam hic tenetur modi? Minima, quod voluptates! Perspiciatis, est.</p>
        </div>
      </div>
      <div class="grid-tim">
        <div class="grid-img"></div>
        <div class="grid-cont">
          <h1 class="grid-title">Title</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe vitae laudantium velit placeat odio molestias id aut laborum ea accusantium ex eum quia sed, quis cum quos non vel deleniti quisquam magnam hic tenetur modi? Minima, quod voluptates! Perspiciatis, est.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  Footer
</div> -->
<!-- //=========================leson 7 Делаем header и навигацию сайта================================== -->
<!-- //=========================leson 8 верстка SideBar сайта================================== -->
<!-- //=========================leson 9 Верстка адаптивного слайдера================================== -->
<!-- <div class="header">
  <div class="header_section">
    <div class="header_item headerlogo">
      WDB
    </div>
    <div class="header_item headerButton"><a href="">Новости</a></div>
    <div class="header_item headerButton"><a href="">Событие</a></div>
    <div class="header_item headerButton"><a href="">Лайфхаки</a></div>
    <div class="header_item headerButton"><a href="">Технологии</a></div>
    <div class="header_item headerButton"><a href="">Бизнесс</a></div>
  </div>
  <div class="header_section">
    <div class="header_item headerButton"><a href="">Настройки</a></div>
    <div class="header_item headerButton"><a href="">Войти</a></div>
  </div>
</div>

<div class="main">
  <div class="sideBar">
    <div class="sideBar-section">
      <div class="sideBar-item"><a href="">Моя страница</a></div>
 
      <div class="sideBar-item"><a href="">Друзься</a></div>
 
      <div class="sideBar-item"><a href="">Ответыы</a></div>
   
      <div class="sideBar-item"><a href="">Группы</a></div>
  
      <div class="sideBar-item"><a href="">Музыка</a></div>
 
      <div class="sideBar-item"><a href="">Игры</a></div>
   
      <div class="sideBar-item"><a href="">Закладки</a></div>
    </div>
    <div class="sideBar-section">
      <div class="sideBar-item"><a href="">Дни рождения</a></div>
 
      <div class="sideBar-item"><a href="">Уведомленяи</a></div>
 
    </div>
  </div>

  <div class="wrap">
    <h1>Foto slider</h1>
    <div class="slider">
      <button onclick="prev()">&laquo;</button>
      <div class="scroller">
        <ul class="items">
          <li class="item" style="background-image: url(https://images.pexels.com/photos/459144/pexels-photo-459144.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb)"></li>
          <li class="item" style="background-image: url(https://images.pexels.com/photos/903475/pexels-photo-903475.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb)"></li>
          <li class="item" style="background-image: url(https://images.pexels.com/photos/679072/pexels-photo-679072.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb)"></li>
          <li class="item" style="background-image: url(https://images.pexels.com/photos/692103/pexels-photo-692103.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb)"></li>
          <li class="item" style="background-image: url(https://images.pexels.com/photos/754587/pexels-photo-754587.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb)"></li>
        </ul>
      </div>
      <button onclick="next()">&raquo;</button>
    </div>
  </div>
  <div class="gallery">
    <div><img src="https://images.pexels.com/photos/459144/pexels-photo-459144.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt=""></div>
    <div><img src="https://images.pexels.com/photos/903475/pexels-photo-903475.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt=""></div>
    <div><img src="https://images.pexels.com/photos/679072/pexels-photo-679072.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt=""></div>
    <div><img src="https://images.pexels.com/photos/692103/pexels-photo-692103.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt=""></div>
    <div><img src="https://images.pexels.com/photos/754587/pexels-photo-754587.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt=""></div>
  </div>
</div> -->

<!-- =========================================== Code Dojo 1 ========================================== -->
<!-- <div class="body">
  
  <h1>FlexBox</h1>
  <div class="flex-container">
    <div class="flex-element element1">Center of the opposite</div>
    <div class="flex-element element2">2</div>
    <div class="flex-element element3">3</div>
    <div class="flex-element element4">4</div>
    <div class="flex-element element5">5</div>
    <div class="flex-element element6">6</div>
    <div class="flex-element element7">7</div>
    <div class="flex-element element8">8</div>
    <div class="flex-element element9">9</div>
    <div class="flex-element element10">10</div>
  </div>  
</div> -->
<!-- =========================================== Верстка адаптивного макета сайта ========================================== -->
<!-- 
<div class="header">
  <a href="" class="logo">Logo</a>
  <nav class="nav">
    <a href="" class="nav-item">1</a>
    <a href="" class="nav-item">2</a>
    <a href="" class="nav-item">3</a>
    <a href="" class="nav-item">4</a>
  </nav>
</div>
<div class="main">
  <div class="box">
    <div class="box-case">
      <h1>Title</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos possimus quasi deleniti culpa iure dolores nesciunt accusantium voluptate provident quibusdam veniam maiores rem magni unde repudiandae quam voluptatibus, minus praesentium. Fugiat ea ipsam molestias consectetur eligendi quisquam adipisci, incidunt nulla?</p>
    </div>
    <div class="box-side">
      <div class="sqr"></div>
    </div>
  </div>
  <div class="content">
    <div class="banners">
      <div class="banner">1</div>
      <div class="banner">2</div>
      <div class="banner">3</div>
    </div>
    <div class="posts">
      <div class="post">
        <h1>Title #1</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quia enim voluptatibus rerum, quisquam numquam explicabo sit! Itaque provident ullam veritatis modi fugit esse sequi similique! Quam laborum, doloremque cum iusto voluptatem ea expedita quisquam, praesentium eveniet necessitatibus vitae quas.</p>
      </div>
      <div class="post">
        <h1>Title #2</h1>
        <p>Quo laboriosam quae fugiat suscipit cum cumque minus provident at ipsa nisi? Doloremque architecto aut nisi temporibus nulla excepturi atque. Mollitia aliquid sunt blanditiis maxime ut minus. Ducimus fugiat aut ullam dignissimos? Omnis sit corrupti illo vero aliquam. Dolorem, deserunt?</p>
      </div>
      <div class="post">
        <h1>Title #3</h1>
        <p>Modi placeat laborum sapiente? Perferendis amet iusto vero temporibus sunt reiciendis tempore inventore excepturi nobis maxime facilis molestiae, fuga a porro pariatur mollitia est necessitatibus, animi possimus facere soluta provident illo! Aut itaque magnam autem ex dolore, veniam sunt excepturi.</p>
      </div>
    </div>
    <div class="commnets">
      <div class="comment">
        <div class="comment-side">
          <div class="comment-avatar"></div>
        </div>
        <div class="comment-base">
          <h1 class="comment-title">Title #1</h1>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis impedit perferendis veniam eaque ipsam aliquam ducimus quod, deserunt quisquam veritatis et velit maiores dolores nostrum quaerat cumque, maxime eos explicabo, blanditiis esse neque. Incidunt, nesciunt consequuntur itaque et similique voluptates!</p>
        </div>
      </div>
      <div class="comment">
          <div class="comment-side">
            <div class="comment-avatar"></div>
          </div>
          <div class="comment-base">
            <h1 class="comment-title">Title #2</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis impedit perferendis veniam eaque ipsam aliquam ducimus quod, deserunt quisquam veritatis et velit maiores dolores nostrum quaerat cumque, maxime eos explicabo, blanditiis esse neque. Incidunt, nesciunt consequuntur itaque et similique voluptates!</p>
          </div>
        </div>
        <div class="comment">
            <div class="comment-side">
              <div class="comment-avatar"></div>
            </div>
            <div class="comment-base">
              <h1 class="comment-title">Title #3</h1>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis impedit perferendis veniam eaque ipsam aliquam ducimus quod, deserunt quisquam veritatis et velit maiores dolores nostrum quaerat cumque, maxime eos explicabo, blanditiis esse neque. Incidunt, nesciunt consequuntur itaque et similique voluptates!</p>
            </div>
          </div>
    </div>
  </div>
</div> -->

