
.brick-type-center{
    max-width: 960px;
    min-width: 270px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    mat-card{
        margin: 5px;
    }
}

.brick-type-center div{
    padding: 10px;
}

.card-brick-type{
    flex-grow: 1;
    width: 250px;
    //min-width: 250px;
    //width: 100%;
}

@media screen and(max-width: 600px){
    .brick-type-center{
        //flex-direction: column;       
    }
    .card-brick-type{
        //max-width: 100%;
    }
}

@media screen and(max-width: 970px){
    .brick-type-center{
        //flex-direction: row-reverse;
        flex-wrap: wrap;
        
    }
    .brick-type-description{
        order: 1;
        width: 100%;
    }
    .brick-type-details, .brick-type-list{
        order: 2;
    }
}