// ======================= .ui-widget-content =========================
.ui-widget-content, .ui-widget-header{
    border: none!important;
    background-color: transparent!important;
}

.ui-carousel-button, .ui-carousel-page-link{
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
}