// ======================= .ui-widget-content =========================
.carousel-container{
    .ui-widget-content, .ui-widget-header{
        border: none!important;
        background-color: transparent!important;
    }
}

.ui-inputtext{
    //background-color: !important;
    color: black;
}

// .ui-widget, .ui-widget * {
//     box-sizing: 
// }