
$primaryColor: #0097a7;
$contextBackground: #254a61;
$textColor: #fff;
$mainBackground: rgba(34,34,34,.712);
$lightBackground: rgba(82, 82, 82, 0.712);
$lighterBackground: rgba(63, 63, 63, 0.712);
$disabledBackground: rgba(109, 109, 109, 0.712);
$weakendBackgroun: rgba(114, 73, 73, 0.712);
$dialogBackground: #fff999!important;