@import './../../../content/variables';

.frend-list{
    margin-top: 10px;
}

.frend-grid{
    width: 100%;
}

.frend-grid tr:nth-child(odd){
    background: $lightBackground;  
}

.frend-grid {
    td{
        padding-left: 5px;
        padding-right: 5px;
    }
}

.red-icon {
    color: red;
}

.gren-icon {
    color: green;
}

.yellow-icon {
    color: yellow;
}