.frend-center{
    max-width: 600px;
    min-width: 270px;
    margin: auto;
    padding: 10px;
    //display: flex;
    //flex-direction: row;
    //justify-content: space-between;
}

.frend-container{
    width: 600px;
    margin: auto;
}