/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

// Here is all Material Icons- https://material.io/tools/icons/?icon=person_add_disabled&style=baseline

@import './custom-theme.scss';
@import './content/variables';
 
html{
    height: 100%;
    // //background: #a2c7dd;
    // background: url(images/360302.png) repeat-y;
    // -moz-background-size: 100%; /* Firefox 3.6+ */
    // -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    // -o-background-size: 100%; /* Opera 9.6+ */
    // background-size: 100%; /* Современные браузеры */
}
body {
    height: 100%;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    ///background: #ffffff;
    padding: 0;
    margin: 0;

    color: #ffffff;
    label, span, h1, h2, h3, h4, h5, a{
        color: #ffffff;
    }
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.checkbox-content .mat-checkbox-label{
    display: flex;
    justify-content: space-between;
    width: 180px;
}


.warn-span{
    width: 60%;
    background: #fc9595;
    padding: 5px 0px;
    margin: 20px;
    text-align: center;
}

.link-button{
    color: #ddfaff;
    text-decoration: underline;
    cursor: pointer;
    padding-right: 5px;
}
.link-button:hover{
    color: #00788d;
}

// ================================== MENU ============================

.toolbar-container{
    display: flex;
    justify-content: space-between;   
    
    .logo{
        font-size: 24px;
        vertical-align: middle;
    }

    span{
        font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
        font-size: 18px;
    }
}
// ================================== mat-checkbox ==================================
.mat-checkbox-frame, .mat-option-pseudo-checkbox{
    border-color: white!important;
}
// =============================== .mat-bottom-sheet-container ======================
.mat-bottom-sheet-container{
    // background: #fffaca!important;
    background: #fff999!important;
    color: black;
}

// ============================== mat-expansion-panel ================
.mat-expansion-panel{
    background: none;
    .mat-expansion-panel-header-title, .mat-expansion-panel-header-description, .mat-expansion-panel-header-description, .mat-expansion-indicator::after, ul, li, span, p {
        color: #fff!important;
    }
}

// =-========================== Mat-Card ==========================
.mat-form-field-label-wrapper{
    label {
        color: #fff!important;
    }
}
.mat-card {
    background: rgba(34, 34, 34, 0.712);
    color: white;
    label, span{
        color: #ffffff;
    }
}

.my-card{
    background: rgba(34, 34, 34, 0.712);
    color: white;
    label, span{
        color: #ffffff;
    }
    padding: 3px;
}
// ============================== Mat-PANEL ====================================
.mat-select-panel{
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.562), 0 6px 20px 0 rgba(255, 255, 255, 0.534)!important;
    width: 270px!important;
    height: 250px!important;
    min-width: 100%!important;
}
.cdk-overlay-pane{
    transform: none!important;
}
// ============================== Mat-Context ====================================
.mat-menu-content, .mat-dialog-container, .mat-select-content, .mat-autocomplete-panel{
    background: $contextBackground;
    color: $textColor;
    span, button{
        color: $textColor;
    }
}
// =============================== MAT - OPTION ==============================
.mat-option{
    height: 40px!important;
    line-height: 40px!important;
}

.mat-selected{
    background: rgba(0, 0, 0, 0.12)!important;
}

// ==================================== LIST WITH SMALL COLOR brick =============================
.small-brick-type {
    //margin: 9px 10px;
    width: 30px;
    height: 20px;
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.color-list-option{
    display: flex;
    justify-content: left;
}
p{
    margin: 0;
    padding: 0;
}

// ===================================  TITLE IN HEADED ========================
h1{
    font-size: 50px;
    margin: 10px 0;
    font-weight: 700;
    line-height: 50px;
}
h2{
    font-size: 36px;
    margin: 10px 0;
    font-weight: 700;
    line-height: 36px;
}
h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}
h4{
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}
h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}
.title-container{
    margin: 5px 0px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.title-page-container{
    font-size: 28px;
    margin: 14px 0px;
    text-align: center;
    font-weight: bold;
}
.title-header{
     max-width: 960px;
    min-width: 270px;
    margin: auto;
}

//======================================= TOOLTIP ======================================
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    //text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    // ON THE TOP 
    // bottom: 100%;
    // left: 50%;
    // margin-left: -60px;
    
    // ON THE RIGHT
    left: 105%;
    //top: 40px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

// =========================== TEXT SHADOW ======================================
.text-shadow{
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

// -======================= PARTICLE JS ===================
canvas{ display: block; vertical-align: bottom; } 
.calendar{
    position: relative;
    z-index: 2;
}
// ================================ HEXAGON ======================
$hexagon-index: 1;

.hexagon { 
    margin: 50px * $hexagon-index 15px * $hexagon-index;
    width: 260px * $hexagon-index; 
    height: 150px  * $hexagon-index; 
    //background: linear-gradient(to top, #966e00, #ebbe2a);
    position: relative; 
} 
.hexagon:before { 
   content: ""; 
   position: absolute; 
   top: -75px * $hexagon-index; 
   left: 0; 
   width: 0; 
   height: 0; 
   border-left: 130px * $hexagon-index solid transparent; 
   border-right: 130px * $hexagon-index solid transparent; 
   //border-bottom: 75px solid #ebbe2a; 
} 
.hexagon:after { 
   content: ""; 
   position: absolute; 
   bottom: -75px * $hexagon-index; 
   left: 0; 
   width: 0; 
   height: 0; 
   border-left: 130px * $hexagon-index solid transparent; 
   border-right: 130px * $hexagon-index solid transparent; 
   //border-top: 75px solid  #966e00; 
}

.category-family{
    //background: linear-gradient(45deg, #ebbe2a, #966e00);
    background: linear-gradient(0deg, #966e00, #ebbe2a);
}
.category-family:before{
    border-bottom: 75px * $hexagon-index solid #ebbe2a; 
}
.category-family:after{
    border-top: 75px * $hexagon-index solid  #966e00; 
}

.category-health{
    background: linear-gradient(0deg, #007f96, #1cdafc);;
}
.category-health:before{
    border-bottom: 75px * $hexagon-index solid #1cdafc; 
}
.category-health:after{
    border-top: 75px * $hexagon-index solid  #007f96; 
}


.category-hobby{
    background: linear-gradient(0deg, #009669, #26ffbe);;
}
.category-hobby:before{
    border-bottom: 75px * $hexagon-index solid #26ffbe; 
}
.category-hobby:after{
    border-top: 75px * $hexagon-index solid  #009669; 
}


.category-sport{
    background: linear-gradient(0deg, #3809b8, #8257f8);;
}
.category-sport:before{
    border-bottom: 75px * $hexagon-index solid #8257f8; 
}
.category-sport:after{
    border-top: 75px * $hexagon-index solid  #3809b8; 
}


.category-frends{
    background: linear-gradient(0deg, #21a500, #5cff33);;
}
.category-frends:before{
    border-bottom: 75px * $hexagon-index solid #5cff33; 
}
.category-frends:after{
    border-top: 75px * $hexagon-index solid  #21a500; 
}


.category-business{
    background: linear-gradient(0deg, #96008e, #ff35f5);;
}
.category-business:before{
    border-bottom: 75px * $hexagon-index solid #ff35f5; 
}
.category-business:after{
    border-top: 75px * $hexagon-index solid  #96008e; 
}


.category-selfmind{
    background: linear-gradient(0deg, #960000, #ff3d3d);;
}
.category-selfmind:before{
    border-bottom: 75px * $hexagon-index solid #ff3d3d; 
}
.category-selfmind:after{
    border-top: 75px * $hexagon-index solid  #960000; 
}


.category-relax{
    background: linear-gradient(0deg, #6f700d, #a0a12f);;
}
.category-relax:before{
    border-bottom: 75px * $hexagon-index solid #a0a12f; 
}
.category-relax:after{
    border-top: 75px * $hexagon-index solid  #6f700d; 
}


.category-own{
    background: linear-gradient(0deg, #444444, #7c7c7c);;
}
.category-own:before{
    border-bottom: 75px * $hexagon-index solid #7c7c7c; 
}
.category-own:after{
    border-top: 75px * $hexagon-index solid  #444444; 
}

// ======================= BRICK ===========================

.brick-in-option{
    margin: 9px 10px!important;
}

.brick-in-calendar {
    //z-index: 100;
    margin: 5px 4px;
    font-size: 14px;
    width: 33px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    // text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    //border: 1px solid black;
    border-radius: 3px;
    box-sizing: border-box;
    transition: 0.4s ease-out;
}

// .brick-in-calendar-arrow {
//     //z-index: 100;
//     margin: 5px 4px;
//     font-size: 14px;
//     width: 33px;
//     height: 20px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     color: white;
//     font-weight: bold;
//     //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
//     // text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
//     //border: 1px solid black;
//     border-radius: 15px 0px 15px 0px; //HERE BRICK WILL BE LIKE LEAF
//     box-sizing: border-box;
//     position: relative;
//     transition: 0.4s ease-out;
// }

.brick-in-calendar-arrow {
    //z-index: 100;
    margin: 5px 4px;
    font-size: 14px;
    width: 33px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    // text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    //border: 1px solid black;
    //// border-radius: 0px 20px 20px 0px; //HERE BRICK WILL BE LIKE LEAF
    box-sizing: border-box;
    position: relative;
    transition: 0.4s ease-out;
}
.brick-in-calendar-arrow::before{
    right: 23px;
    content: " ";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: white transparent;
    transform: scale(0.5, 1);
}
.brick-in-calendar-arrow::after{
    left: 28px;
    content: " ";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    background-color: inherit tr;
    border-color: transparent transparent transparent white;
    transform: scale(0.5, 1);
}
// .brick-in-calendar::after{
//     content: " ";
//     position: absolute;
//     top: 8px;
//     right: -7px;
//     margin-top: -5px;
//     border-width: 0px;
//     background: inherit;
//     width: 13px;
//     height: 14px;
//     -webkit-transform: scale(0.4, 1) rotate(45deg);
//     transform: scale(0.4, 1) rotate(45deg);
// }
// .brick-in-calendar::before{
//     content: " ";
//     position: absolute;
//     top: 8px;
//     left: -7px;
//     margin-top: -5px;
//     border-width: 0px;
//     background: inherit;
//     width: 13px;
//     height: 14px;
//     -webkit-transform: scale(0.4, 1) rotate(45deg);
//     transform: scale(0.4, 1) rotate(45deg);
// }

// .brick-in-calendar:hover{
//     //border: 1px solid white;
//     transition: all 0.6s ease-in;
// }

// ============================================== ICON ====================================
.brickIcon{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 5px;
    margin-right: 0px!important;
}

.plum-icon {
    color: plum;
}

.red-icon {
    color: red;
}

.gren-icon {
    color: green;
}

.yellow-icon {
    color: yellow;
}

.mat-error-custom{
    position: absolute;
    color: #d84315;
    top: 50px;
    font-size: 75%;
    text-align: left;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, "Helvetica Neue", sans-serif;
} 
// ======================== COLORS ====================
.chocolate{
    color: chocolate;
}