.user-setting-center{
    max-width: 960px;
    min-width: 270px;
    margin: auto;
    //padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-form {
    margin: 10px;
    width: 100%;
    div{
        box-sizing: border-box;
    }
    .mat-slide{
        padding-right: 20px;
    }
}