.user-setting-center{
    max-width: 960px;
    min-width: 270px;
    margin: auto;
    //padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-form {
    margin: 10px;
    width: 100%;
    div{
        box-sizing: border-box;
    }
    .mat-slide{
        height: 36px;
    }
}

@media screen and(max-width: 500px){
    .toogle-label{
        display: none;
    }
}