         
<wall-side-nav 
    [nickName]="nicknameForSideBar"
    [visibleBrickTypes]="existentBrickTypes"
    (tickBrickType)="filterByHabbit($event)">
        Wall Side Nav
</wall-side-nav>

<div class="calendar">

    <div class="nav-container">
        <div class="calendar-buttons" >
            <div class="prev-next-container">
                <button mat-raised-button class="navigate-btn first-btn" (click)="prevMonth()">&lt;</button>
                <button mat-raised-button class="navigate-btn second-btn" (click)="nextMonth()">&gt;</button>
            </div>
            <div>
                <button mat-raised-button class="navigate-btn today-btn" (click)="todayMonth()" >{{'Today' | translate}}</button>
            </div>
            <div class="today-data">
                {{this.curDate | dateru:'MMMM YYYY' | capitalize  }}
            </div>
            <div></div>
        </div>

        <div class="week-nav">
            <div class="week-text" translate>Mon</div>
            <div class="week-text" translate>Tue</div>
            <div class="week-text" translate>Wed</div>
            <div class="week-text" translate>Thu</div>
            <div class="week-text" translate>Fri</div>
            <div class="week-text" translate>Sat</div>
            <div class="week-text" translate>Sun</div>
        </div>        
    </div>
      
      <div class="one-day tooltip" [ngClass]="{'day-weekend': curday.isWeekend, 'day-today': curday.today, 'day-disabled': curday.disabled, 'day-pointer': !curday.disabled && !curNick}"
            *ngFor="let curday of daysArray"
            (click)="openBrickModal(brick, curday, $event)">

            <span class="tooltiptext" 
                  *ngIf="curday.bricks && curday.bricks.length > 0"
                  [innerHTML]="getDayTooltip(curday)"></span>

            <div class="bricks-container" *ngIf="curday.bricks">          
                  <span class="brick-in-calendar text-shadow" 
                        *ngFor="let brick of curday.bricks"
                        [ngStyle]="{'background-color': brick.brickType.category.color}"
                        (click)="openBrickModal(brick, curday, $event)"> {{brick.brickType.sign}}</span>            
            </div>

            <span class="day-number">{{curday.day}}</span>
      </div>
</div>