<!-- <div id="particles-js"></div>  -->
<div class="calendar">
            
      <div class="calendar-buttons" >
            <div class="prev-next-container">
                  <button mat-raised-button class="navigate-btn first-btn" (click)="prevMonth()"><</button>
                  <button mat-raised-button class="navigate-btn second-btn" (click)="nextMonth()">></button>
            </div>
            <div>
                  <button mat-raised-button class="navigate-btn today-btn" (click)="todayMonth()">Сегодня</button>
            </div>
            <div class="today-data">
                  {{this.curDate |  dateru:'MMMM YYYY' | capitalize}}
            </div>
            <div></div>
      </div>

      <div class="one-day tooltip" [ngClass]="{'day-today': curday.today, 'day-disabled': curday.disabled}"
            *ngFor="let curday of daysArray"
            (click)="openBrickModal(brick, curday, $event)">

            <span class="tooltiptext" 
                  *ngIf="curday.bricks && curday.bricks.length > 0"
                  [innerHTML]="getDayTooltip(curday)"></span>

            <div class="bricks-container" *ngIf="curday.bricks">          
                  <span class="brick-in-calendar text-shadow" 
                        *ngFor="let brick of curday.bricks"
                        [ngStyle]="{'background-color': brick.brickType.category.color}"
                        (click)="openBrickModal(brick, curday, $event)"> {{brick.brickType.sign}}</span>            
            </div>

            <span class="day-number">{{curday.day}}</span>
      </div>
</div>