
<div class="home-page">
    
    <div class="pimg1-container">
        <div class="pimg1">

          
        </div>
        <div class="first-section">
                    
            <!-- <div>
                <header-menu></header-menu>
            </div> -->
            <div class="first-screen">
                <div class="left-home-continer">
                    <div class="main-words">
                        Мы – то, что постоянно делаем <br>
                        И совершенство – не действие, а привычка. <br>
                        - Аристотель <br>
                    </div>
                    <div class="secondary-words">
                        Привычки подобны канату.  <br>
                        Мы плетем и плетем его изо дня в день, <br>
                        и вскоре его уже невозможно разорвать <br>
                        — Хорейс Манн
                    </div>
                </div>
                <div class="right-home-container">
                    
                </div>
            </div>
            <div class="footer-on-home" (click)="scrollToSecondPart()">
                <div class="arrowAnim">
                    <div class="arrowSliding">
                        <div class="arrow"></div>
                    </div>
                    <div class="arrowSliding delay1">
                        <div class="arrow"></div>
                    </div>
                    <div class="arrowSliding delay2">
                        <div class="arrow"></div>
                    </div>
                    <div class="arrowSliding delay3">
                        <div class="arrow"></div>
                    </div>
                </div>

                <div class="footer-main-word">
                    Исследуй наши возможности
                </div>

                <div class="arrowAnim">
                    <div class="arrowSliding">
                        <div class="arrow"></div>
                    </div>
                    <div class="arrowSliding delay1">
                        <div class="arrow"></div>
                    </div>
                    <div class="arrowSliding delay2">
                        <div class="arrow"></div>
                    </div>
                    <div class="arrowSliding delay3">
                        <div class="arrow"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    

    <section class="section section-dark">
        <h1 class="how-to-work">Как с нами работать?</h1>
        <mat-carousel
            maxWidth="1000px"
            [hideArrows]="false"
            [hideIndicators]="false"
            slides="2">
            <mat-carousel-slide>
                <div class="step-container white-shadow" routerLink="/category">
                    <div class="step-header">ШАГ 1:</div>
                    <div class="step-description">Определи свои сферы влияния</div>
                    <div class="step-image step-image-category blue-shadow"></div>
                </div>
            </mat-carousel-slide>

            <mat-carousel-slide>
                <div class="step-container white-shadow" routerLink="/bricktype">
                    <div class="step-header">ШАГ 2:</div>
                    <div class="step-description">Поставь цели и задай привычки</div>
                    <div class="step-image step-image-bricktype blue-shadow"></div>
                </div>
            </mat-carousel-slide>

            <mat-carousel-slide>
                <div class="step-container white-shadow" routerLink="/wall">
                    <div class="step-header">ШАГ 3:</div>
                    <div class="step-description">Строй свою стену будущего</div>
                    <div class="step-image step-image-wall blue-shadow"></div>
                </div>
            </mat-carousel-slide>
        </mat-carousel>
        <!-- 
        <div class="all-steps-container">
            <div class="step-container white-shadow" routerLink="/category">
                <div class="step-header">ШАГ 1:</div>
                <div class="step-description">Определи свои сферы влияния</div>
                <div class="step-image step-image-category blue-shadow"></div>
            </div>
            <div class="step-container white-shadow" routerLink="/bricktype">
                <div class="step-header">ШАГ 2:</div>
                <div class="step-description">Поставь цели и задай привычки</div>
                <div class="step-image step-image-bricktype blue-shadow"></div>
            </div>
            <div class="step-container white-shadow" routerLink="/wall">
                <div class="step-header">ШАГ 3:</div>
                <div class="step-description">Строй свою стену будущего</div>
                <div class="step-image step-image-wall blue-shadow"></div>
            </div>
        </div> -->
       
    </section>
    
    <div class="pimg2-container">
        <div class="inspire-words">
            <div class="left-fast">
                <span class="border">
                    Создай привычки
                </span>
            </div>
            <div class="center-to-right">
                <span class="border">
                    Будь одержим
                </span>
            </div>
            <div class="center-fix">
                <span class="border">
                    Отмечай выполненные
                </span>
            </div>
            <div class="center-to-up">
                <span class="border">
                    Не сдавайся
                </span>
            </div>
            <div class="right-fast">
                <span class="border">
                    Получай результат
                </span>
            </div>
        </div>
        
        <div class="pimg2">          
        </div>
    </div>

    <section class="section section-dark">
        
        <div class="category-test">
            <h1>Определи свои сферы влияния</h1>
        </div>
        <div class="category-sample-list">
            <div class="hexagon category-family">
                <!-- <div class="category-icon-container">
                    <div class="category-icon category-family text-shadow blue-shadow">C</div> 
                    <div class="category-family text-shadow">C</div>
                </div>-->
                <div class="category-sample-name">
                    <h3 translate>FamalyScopeName</h3>
                </div>
                <div class="category-sample-description">
                    <span translate>
                            FamalyScopeDescription
                    </span>
                </div>
            </div>
            <div class="hexagon category-health">
                <!-- <div class="category-icon-container">
                    <div class="category-icon category-health text-shadow blue-shadow">З</div>
                </div> -->
                <div class="category-sample-name">
                    <h3 translate>HealthScopeName</h3>
                </div>
                <div class="category-sample-description">
                    <span translate>
                        HealthScopeDescription
                    </span>
                </div>
            </div>
            <div class="hexagon category-hobby">
                <!-- <div class="category-icon-container">
                    <div class="category-icon category-hobby text-shadow blue-shadow">Х</div>
                </div> -->
                <div class="category-sample-name">
                    <h3 translate>HobbyScopeName</h3>
                </div>
                <div class="category-sample-description">
                    <span translate>
                        HobbyScopeDescription
                    </span>
                </div>
            </div>
            <div class="hexagon category-sport">
                <!-- <div class="category-icon-container">
                    <div class="category-icon category-sport text-shadow blue-shadow">S</div>
                </div> -->
                <div class="category-sample-name">
                    <h3 translate>SportScopeName</h3>
                </div>
                <div class="category-sample-description">
                    <span translate>
                        SportScopeDescription
                    </span>
                </div>
            </div>
            <div class="hexagon category-frends">
                <!-- <div class="category-icon-container">
                    <div class="category-icon category-frends text-shadow blue-shadow">F</div>
                </div> -->
                <div class="category-sample-name">
                    <h3 translate>FrendsScopeName</h3>
                </div>
                <div class="category-sample-description">
                    <span translate>
                        FrendsScopeDescription
                    </span>
                </div>
            </div>
            <div class="hexagon category-business">
                <!-- <div class="category-icon-container">
                    <div class="category-icon category-business text-shadow blue-shadow">B</div>
                </div> -->
                <div class="category-sample-name">
                    <h3 translate>BusinessScopeName</h3>
                </div>
                <div class="category-sample-description">
                    <span translate>
                        BusinessScopeDescription
                    </span>
                </div>
            </div>
            <div class="hexagon category-selfmind">
                <!-- <div class="category-icon-container">
                    <div class="category-icon category-selfmind text-shadow blue-shadow">M</div>
                </div> -->
                <div class="category-sample-name">
                    <h3 translate>LearningScopeName</h3>
                </div>
                <div class="category-sample-description">
                    <span translate>
                        LearningScopeDescription
                    </span>
                </div>
            </div>
            <div class="hexagon category-relax">
                <!-- <div class="category-icon-container">
                    <div class="category-icon category-relax text-shadow blue-shadow">R</div>
                </div> -->
                <div class="category-sample-name">
                    <h3 translate>RelaxScopeName</h3>
                </div>
                <div class="category-sample-description">
                    <span translate>
                        RelaxScopeDescription
                    </span>
                </div>
            </div>
            <div class="hexagon category-own">
                <!-- <div class="category-icon-container">
                    <div class="category-icon category-home text-shadow blue-shadow">H</div>
                </div> -->
                <div class="category-sample-name">
                    <h3>...</h3>
                </div>
                <div class="category-sample-description">
                    <span translate>
                        CustomScopeDescription
                    </span>
                </div>
            </div>
        </div>
    </section>

    <div class="pimg3-container">
        <div class="pimg3">
        </div>

        <!-- <h1>Поставь цели и работай над привычками</h1> -->
            <!-- <div class="ptext">
                <span class="border">
                    image three text
                </span>

            </div> -->
        <div class="categories-cards">
            <div class="category-test">
                <h1>Создай полезные привычки</h1>
            </div>
            <div class="habbit-list">
                <div class="habbit-item">Чтение 30 мин в день</div>
                <div class="habbit-item">Время с семьей</div>
                <div class="habbit-item">Домашние дела, работа</div>
                <div class="habbit-item">Пресс 15 мин</div>
                <div class="habbit-item">Реализация мечты</div>
                <div class="habbit-item">Запись мыслей в дневник</div>
                <div class="habbit-item">Занятие танцами</div>
                <div class="habbit-item">Изучение языка программирования</div>
                <div class="habbit-item">Тренажерный зал</div>
                <div class="habbit-item">Поиск цели в жизни</div>
                <div class="habbit-item">Занятие хобби</div>
                <div class="habbit-item">Выход из зоны комфорта</div>
                <div class="habbit-item">Закалка</div>
                <div class="habbit-item">Медитация</div>
                <div class="habbit-item">Правильное питание</div>
                <div class="habbit-item">День без сладкого</div>
                <div class="habbit-item">День без сигарет</div>
                <div class="habbit-item">Выучить 10 иностранных слов</div>
                <div class="habbit-item">Разминка спины 15 мин</div>
                <div class="habbit-item">Прогулка на велосипеде 1 час</div>
                <div class="habbit-item">Изучение бизнес литературы</div>
                <div class="habbit-item">Тренировка на стадионе</div>
                <div class="habbit-item">Изучение спортивного элемента</div>
                <div class="habbit-item">Утренняя зарядка</div>
            </div>
        </div>
    </div>

    <section class="section section-dark">
        <h2>Links</h2>
        <p>
        </p>
    </section>
</div>
